{% extends "base_client.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %} 
{{ super() }}
{% endblock %}

{% block body_content %}
{{ super() }}

<section>
    <form class="calendario_data" method="POST" action="">
      <p>Serviço:
        <select id="servico" name="nome_servico" required>
          <option value="">Escolha um serviço</option>
          <option value="Corte de Cabelo">Corte de Cabelo</option>
          <option value="Barba">Barba</option>
          <option value="Teste">Teste</option>
        </select>
      </p>
      <p>Data/Hora:
        <input type="datetime-local" id="calendario" name="calendario_data" required>
      </p>
      <input type="submit" value="Submit">
    </form>
  </section>
  
  <script>
    // define a data e hora mínima permitida (hoje às 9h)
    var dataAtual = new Date();
    var horarioMinimo = "09:00"; // seta o horário minimo
    if (dataAtual.getHours() >= 22) { // seta o horário MÁXIMO que poderá ser feito o agendamento, passado isso, será disponibilizar apenas o próximo dia
      dataAtual.setDate(dataAtual.getDate());
    }
    var dataMinima = dataAtual.toISOString().slice(0, 10) + "T" + horarioMinimo;
    document.getElementById("calendario").setAttribute("min", dataMinima);
  
    // define a data e hora máxima permitida (daqui a 7 dias)
    var dataMaxima = new Date();
    dataMaxima.setDate(dataMaxima.getDate() + 7);
    dataMaxima = dataMaxima.toISOString().slice(0, 16);
    document.getElementById("calendario").setAttribute("max", dataMaxima);
  </script>
    
{% endblock %}
