{% extends "base_client.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %} 
{{ super() }}
{% endblock %}

{% block body_content %}
{{ super() }}
<section>
    <form class="calendario_data" method="POST" action="">
    <p>Serviço: <input type="text" id="nome_servico" value="" required="True" name="nome_servico"/></p>
    <p>Data/Hora: <input type="datetime-local" id="calendario" value="" required="True" name="calendario_data"/></p>
    <!--<p>Hora: <input type="text" id="calendario_hora" value="" required="True" name="calendario_hora"/></p> -->
    <input type="submit" value="Submit">
    </form>
</section>
    
{% endblock %}
