<!DOCTYPE html>

<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Dashboard Dalma</title>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="static/style_dashboard.css" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/themes/prism.css">
    <link href="css/examples.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
    <!-- FontsAwesome-->
    <script src="https://kit.fontawesome.com/e78f747baf.js" crossorigin="anonymous"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      // Shared ID
      gtag('config', 'UA-118965717-3');
      // Bootstrap ID
      gtag('config', 'UA-118965717-5');
    </script>
    <link href="vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
  </head>
  <body>
     <!-- INICIO DA NAVBAR-->
     <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
      <div class="sidebar-brand d-none d-md-flex">
        <svg class="sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
          <use xlink:href="assets/brand/coreui.svg#full"></use>
        </svg>
        <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
          <use xlink:href="assets/brand/coreui.svg#signet"></use>
        </svg>
      </div>
      <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        <li class="nav-item"><a class="nav-link" href="/dashboard">
            <svg class="nav-icon">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
            </svg> Dashboard<span class="badge badge-sm bg-info ms-auto"></span></a></li>
        <li class="nav-title">Administração</li>
        <li class="nav-item"><a class="nav-link" href="/register_admin">
            <svg class="nav-icon">
            </svg>Cadastrar Administrador</a></li>

        <li class="nav-item"><a class="nav-link" href="/deletar_user">
          <svg class="nav-icon">
            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
          </svg> Deletar usuário</a></li>

      <li class="nav-item"><a class="nav-link" href="/usuarios">
        <svg class="nav-icon">
          <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
        </svg> Lista de usuários</a></li>

        <li class="nav-item"><a class="nav-link" href="/agendamentos">
          <svg class="nav-icon">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
            </svg>Agendamentos</a></li>

        <li class="nav-item"><a class="nav-link" href="/agendamentos_dia">
              <svg class="nav-icon">
                </svg>Agendamentos do dia</a>
              </li>

        <li class="nav-title">Cliente</li>

        <li class="nav-item"><a class="nav-link" href="/perfil">
          <svg class="nav-icon">
            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
          </svg> Perfil</a></li>

          <li class="nav-item"><a class="nav-link" href="/register_client">
            <svg class="nav-icon">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
            </svg> Cadastrar Usuário</a></li>

            <li class="nav-item"><a class="nav-link" href="/agendar_servico">
              <svg class="nav-icon">
                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
              </svg> Agendar Serviço</a></li>
              
              <li class="nav-item"><a class="nav-link" href="/agendamentos">
              <svg class="nav-icon">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
                </svg> Minha Agenda</a></li>

          </li>
      </ul>
      <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
    </div>

<!--FINAL DA NAVBAR-->

    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
      <header class="header header-sticky mb-4">
        <div class="container-fluid">
          <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
            <svg class="icon icon-lg">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
            </svg>
          </button><a class="header-brand d-md-none" href="#">
            <svg width="118" height="46" alt="CoreUI Logo">
              <use xlink:href="assets/brand/coreui.svg#full"></use>
            </svg></a>
          <ul class="header-nav d-none d-md-flex">
            <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Users</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
          </ul>
          <ul class="header-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="#">
                <svg class="icon icon-lg">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-bell"></use>
                </svg></a></li>
            <li class="nav-item"><a class="nav-link" href="#">
                <svg class="icon icon-lg">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-list-rich"></use>
                </svg></a></li>
            <li class="nav-item"><a class="nav-link" href="#">
                <svg class="icon icon-lg">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-envelope-open"></use>
                </svg></a></li>
          </ul>
          <ul class="header-nav ms-3">
            <li class="nav-item dropdown"><a class="nav-link py-0" data-coreui-toggle="dropdown" href="/logout" role="button" aria-haspopup="true" aria-expanded="false">
              <li class="nav-item dropdown">
                {% if username %}
                <p>Bem-vindo {{ username }}</p>
                {% endif %}
                <a class="nav-link py-0" data-coreui-toggle="dropdown" 
                href="/logout" role="button" aria-haspopup="true" 
                aria-expanded="false">Log-out</a>
                </a>
              </a>
              <div class="dropdown-menu dropdown-menu-end pt-0">
                <div class="dropdown-header bg-light py-2">
                  <div class="fw-semibold">Account</div>
                </div><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-bell"></use>
                  </svg> Updates<span class="badge badge-sm bg-info ms-2">42</span></a><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-envelope-open"></use>
                  </svg> Messages<span class="badge badge-sm bg-success ms-2">42</span></a><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-task"></use>
                  </svg> Tasks<span class="badge badge-sm bg-danger ms-2">42</span></a><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-comment-square"></use>
                  </svg> Comments<span class="badge badge-sm bg-warning ms-2">42</span></a>
                <div class="dropdown-header bg-light py-2">
                  <div class="fw-semibold">Settings</div>
                </div><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                  </svg> Profile</a><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                  </svg> Settings</a><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-credit-card"></use>
                  </svg> Payments<span class="badge badge-sm bg-secondary ms-2">42</span></a><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-file"></use>
                  </svg> Projects<span class="badge badge-sm bg-primary ms-2">42</span></a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                  </svg> Lock Account</a><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                  </svg> Logout</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="header-divider"></div>
        <div class="container-fluid">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-0 ms-2">
              <li class="breadcrumb-item">
                <!-- if breadcrumb is single--><span>Administração</span>
              </li>
              <li class="breadcrumb-item active"><span>Agendamentos Totais</span></li>
            </ol>
          </nav>
        </div>
      </header>
      <div class="body flex-grow-1 px-3">
        <div class="container-sm">
          <h1 class="cadastrar_admin">Agendamentos totais</h1>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome de Usuário</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Dia</th>
                <th>Horário</th>
                <th>Serviço</th>
              </tr>
            </thead>
            <tbody>
              {% for agendamento in agendamentos.items %}
                <tr>
                  <td>{{ agendamento.id }}</td>
                  <td>{{ agendamento.username }}</td>
                  <td>{{ agendamento.email }}</td>
                  <td>{{ agendamento.telefone }}</td>
                  <td>{{ agendamento.data.strftime('%d-%m-%Y') }}</td>
                  <td>{{ agendamento.data.strftime('%H:%M') }}</td>
                  <td>{{ agendamento.servico }}</td>
                  <td><button class="cancelar-agendamento" data-id="{{ agendamento.id }}">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          
          {% if agendamentos.has_prev or agendamentos.has_next %}
          <div class="pagination">
            {% if agendamentos.has_prev %}
              <a href="{{ url_for('list_agendamentos_total', page=agendamentos.prev_num, per_page=agendamentos.per_page) }}" class="pagination-button">&lt; Anterior</a>
            {% else %}
              <button class="btn btn-primary">Anterior</button>
            {% endif %}
          
            {% if agendamentos.has_next %}
              <a href="{{ url_for('list_agendamentos_total', page=agendamentos.next_num, per_page=agendamentos.per_page) }}" class="pagination-button">Próxima &gt;</a>
            {% else %}
              <button class="btn btn-primary">Próxima</button>
            {% endif %}
          </div> 
          {% endif %}


      <footer class="footer">
        <div><a href=""></a><a href="">Dalma Barbearia</a> © 2022</div>
        <div class="ms-auto">Powered by&nbsp;<a href=""></a></div>
      </footer>
    </div>
    <!-- CoreUI and necessary plugins-->
    <script src="vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="vendors/simplebar/js/simplebar.min.js"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="vendors/chart.js/js/chart.min.js"></script>
    <script src="vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
    <script src="vendors/@coreui/utils/js/coreui-utils.js"></script>
    <script src="js/main.js"></script>
    <script>
    </script>
  </body>
</html>

<script>
  // Seletor para todos os botões de exclusão
  const cancelarAgendamentoButtons = document.querySelectorAll('.cancelar-agendamento');

  // Função para enviar uma requisição HTTP DELETE para o servidor
  const deletarAgendamento = (idAgendamento) => {
      fetch(`/deletar-agendamento/${idAgendamento}`, {
          method: 'DELETE'
      })
      .then(response => response.json())
      .then(data => {
          alert('Agendamento removido com sucesso!');
      })
      .catch(error => {
          console.error(error);
      });
  };

  // Adiciona um evento de clique a cada botão de exclusão
  cancelarAgendamentoButtons.forEach(button => {
      button.addEventListener('click', (event) => {
          const idAgendamento = event.currentTarget.dataset.id;
          if (confirm("Tem certeza que deseja excluir este agendamento?")) {
              deletarAgendamento(idAgendamento);
              // Recarrega a página atual após a exclusão bem-sucedida
              window.location.reload();
          }
      });
  });
</script>

