{% extends "base_admin.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %} 
{{ super() }}
{% endblock %}

{% block body_content %}
{{ super() }}
{% block content %}
<h1>Agendamentos totais</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome de Usuário</th>
      <th>E-mail</th>
      <th>Telefone</th>
      <th>Dia</th>
      <th>Horário</th>
      <th>Serviço</th>
    </tr>
  </thead>
  <tbody>
    {% for agendamento in agendamentos %}
      <tr>
        <td>{{ agendamento.id }}</td>
        <td>{{ agendamento.username }}</td>
        <td>{{ agendamento.email }}</td>
        <td>{{ agendamento.telefone }}</td>
        <td>{{ agendamento.data.strftime('%d-%m-%Y') }}</td>
        <td>{{ agendamento.data.strftime('%H:%M') }}</td>
        <td>{{ agendamento.servico }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% endblock %}





