{% extends "base_admin.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %} 
{{ super() }}
{% endblock %}

{% block body_content %} 
{{ super() }}

<section class="main-section" id="Introduction">
    <p> Teste de DELETE de usuários <p>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ form.email }}
    {{ form.submit }}
</form>
{% if flag %}
    <p>username : {{ username }}</p>
    <p>email : {{ email }}</p>
    <p>telefone : {{ telefone }}</p>
{% else %}
    <p></p>
{% endif %}
</section>

{% endblock %}
