<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/profile.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/bootstrap.css" crossorigin="anonymous">
    <title>Profile</title>
</head>
<body>

    <div class="area"></div>
    <nav class="main-menu">
    <ul>
        <li>
            <a href="/dashboard">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Dashboard
                </span>
            </a>
        </li>
        <li>
            <a href="/profile">
                <i class="fa fa-user fa-2x"></i>
                <span class="nav-text">
                    Perfil
                </span>
            </a>
        </li>
      <li>
            <a href="/agendar_servico">
                <i class="fa fa-clock-o fa-2x"></i>
                <span class="nav-text">
                    Marcar Horario
                </span>
            </a>
        </li>
      <li>
            <a href="/agendamentos">
                <i class="fa fa-calendar fa-2x"></i>
                <span class="nav-text">
                    Olhar agenda
                </span>
            </a>
        </li>
    </ul>
    <ul class="consultar_users">
        <li>
            <a href="{{url_for('consultar_user')}}">
                 <i class="fa fa-search fa-2x"></i>
                <span class="nav-text">
                    Consultar usuários
                </span>
            </a>
        </li>  
    </ul>
    <ul class="logout">
        <li>
           <a href="{{url_for('logout')}}">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
</nav>

    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <span class="font-weight-bold">{{ current_user.username }}</span>
                    <span class="text-black-50">{{ current_user.email }}</span>
                    <span> </span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Configurações de Perfil</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Nome</label><input type="text" class="form-control" placeholder="Nome" value=""></div>
                        <div class="col-md-6"><label class="labels">Sobrenome</label><input type="text" class="form-control" value="" placeholder="Sobrenome"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Número de celular</label><input type="text" class="form-control" placeholder="Digite o número do seu celular" value=""></div>
                        <div class="col-md-12"><label class="labels">Endereço</label><input type="text" class="form-control" placeholder="Digite o seu endereço" value=""></div>
                        <div class="col-md-12"><label class="labels">CEP</label><input type="text" class="form-control" placeholder="Digite o seu CEP" value=""></div>
                        <div class="col-md-12"><label class="labels">Estado</label><input type="text" class="form-control" placeholder="Digite o Estado" value=""></div>
                        <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="{{ current_user.email }}" value=""></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    </div>
    </div>

</body>
</html>