{% extends "base_admin.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block title %} 
{{ super() }}
{% endblock %}

{% block body_content %}
{{ super() }}
{% block content %}
<h1>Lista de Usuários</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome de Usuário</th>
      <th>E-mail</th>
      <th>Administrador</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ 'Sim' if user.level == "admin" else 'Não' }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% endblock %}


